.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  padding: 0 0.5rem;
  background-color:#ccc;
}

 .content {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
 }

.con-left {
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}

.con-right {
  /* background-color: #FFF; */
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}

.list {
  margin-left: 15px;
  margin-right: 15px;
}